*
!.xinitrc
!.bash_aliases
!.rtorrent.rc
!.tmux.conf
!.gitignore
!.config/
!.config/bspwm
!.config/bspwm/wallpapers
!.config/bspwm/wallpapers/wp1.png
!.config/bspwm/bspwmrc
!.config/sxhkd
!.config/sxhkd/sxhkdrc
!.config/compton.conf
!.config/Xmodmap
!.config/Xresoures
!.config/redshift.conf
!.config/picom.conf
!.config/nvim
!.config/nvim/init.vim
